name: Deploy MkDocs

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build site with Docker
      run: |
        docker run --rm -v ${{ github.workspace }}:/docs squidfunk/mkdocs-material build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GH_PAT }}
        publish_dir: ./site
        publish_branch: gh-pages


